<div class="section_container about__container" id="about">
  <div class="about__container--box">
    <div class="about__content">
      <div class="about__image">
      <img src="assets/img/me.jpg" alt="Portrait of Rob Lahoda" class="square"/>
    </div>
    <div class="about__image--info">
      <h1 class="center-text">Rob Lahoda</h1>
      <h3>Multimedia Producer and Web Designer</h3>
    </div>
  </div>
  </div>
  <div class="about__container--box">
    <div class="about__content"><h2>Who I Am</h2>
    <p class="text-block">For over 15 years I've been telling stories, first through still images and later through video as well. The passion that drives my art is learning someone's story and translating it into a visually compelling presentation.</p> <p class="text-block">I love sitting during an interview and asking the questions that get those deeper, more impactful answers that really allow the subject's story to gain another level of depth. It's always amazing to work through the editing process and watch the story come to life. I love to interweave multiple interviews and perspectives together to form a single story flow.</p><p class="text-block">I am fortunate to have been trained first as a photojournalist. This background has given me a deeper understanding and appreciation for getting to the root of the story. This is how I approach all of the work I do. I want to understand my subject and use my photography or video to bring the audience into the middle of the story.</p><p class="text-block">In addition to my media production work, I also am a web developer. I have done a variety of projects large and small on many different platforms and technologies. If you or your organization are looking for someone to help with a website or web app, let me know! If you'd like to see some of my work, check out my portfolio page at: <a href="https://rlahoda.github.io">rlahoda.github.io</a></p></div>
  </div>
  <div class="clearfix">

  </div>
</div>
