<div class="primary-nav">
    <nav id="primary-nav__nav" class="primary-nav__nav">
        <!-- <div class="primary-nav__logo"></div> -->
        <div class="primary-nav__menu">
            <h1 class="primary-nav__logo--text">
                <a href="#">Rob Lahoda</a>
            </h1>
            <button type="button" name="Show/Hide Menu" id="primary-nav__button-button" class="primary-nav__button-button">Menu</button>
        </div>
        <!-- <div class="cf"></div> -->
        <ul class="primary-nav__nav-list--hamburger">
            <li>
                <a class="primary-nav__nav-list-item primary-nav__nav-list-item--hamburger" href="#about">About Me</a>
            </li>
            <li>
                <a class="primary-nav__nav-list-item primary-nav__nav-list-item--hamburger" href="#photos">Photography</a>
            </li>
            <li>
                <a class="primary-nav__nav-list-item primary-nav__nav-list-item--hamburger" href="#videos">Video</a>
            </li>
            <li>
                <a class="primary-nav__nav-list-item primary-nav__nav-list-item--hamburger" href="#contact">Contact Me</a>
            </li>
        </ul>
        <ul class="primary-nav__nav-list--desktop">
            <li>
                <a class="primary-nav__nav-list-item" href="#about">About Me</a>
            </li>
            <li>
                <a class="primary-nav__nav-list-item" href="#photos">Photography</a>
            </li>
            <li>
                <a class="primary-nav__nav-list-item" href="#videos">Video</a>
            </li>
            <li>
                <a class="primary-nav__nav-list-item" href="#contact">Contact Me</a>
            </li>
        </ul>
    </nav>
    <div class="cf"></div>
</div>
