<!DOCTYPE html>
<html>
{% include "partials/header.twig" %}

<body>


{% include "partials/menu.twig" %}
{% include "partials/main.twig" %}
{% include "partials/about.twig" %}
{% include "partials/photo.twig" %}
{% include "partials/video.twig" %}
{% include "partials/contact.twig" %}

{% include "partials/footer.twig" %}
</body>


</html>
